<!DOCTYPE html>
<html>
<head>
    <title>Customer Feedback Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Customer Feedback Analyzer</h2>
  <form action="/predict" method="post">
    <input type="number" name="age" placeholder="Enter Age" required><br>
    <input type="number" name="rating" placeholder="Rating (1–5)" required><br>
    <input type="number" name="feedback" placeholder="Positive Feedback Count" required><br>
    <button type="submit">Predict</button>
  </form>



  {% if prediction_text %}
    <div class="result {{ result_class }}">{{ prediction_text }}</div>
  {% endif %}


</body>
</html>
